.atomic-sizes {
    width: 100%;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__resource-info {
        font-size: 12px;
        color: #5E6C84;
        font-weight: 600;
        margin: 12px 0 5px;
    }

    &__usage-table-row {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
    }
}