.async-chunks {
    width: 100%;
    margin: 24px 0 0;

    &__chunk {
        margin: 0 0 24px;
    }
    
    &__link {
        color: #172B4D;

        & span {
            height: 19px;
        }
    }
    
    &__empty {
        color: #9e9e9e;
        font-style: italic;
        margin: 12px 0 0;
    }
}